Hello {{ user.username }},

You requested a password reset for your account at SellCar.

Please click the link below to reset your password:

{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}

If you didn't request this, please ignore this email.

This link will expire in 24 hours.

Thanks,
The SellCar Team
```

Problema buvo, kad "If" (iš "If you didn't...") buvo toje pačioje eilutėje kaip URL.

---

**Dabar:**
1. Bandyk vėl siųsti reset email
2. Patikrink console - turėtų būti teisingas URL
3. Copy/paste tą URL į naršyklę

Arba dar paprasčiau - **naudok čia tekstinį email template be HTML:**

### `templates/accounts/password_reset_email.txt`:
```
Hello {{ user.username }},

You requested a password reset for your SellCar account.

Click the link below to reset your password:
{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}

If you didn't request this, ignore this email.

Link expires in 24 hours.

- SellCar Team
